* {
    /* CSS 中的 box-sizing 属性定义了 user agent 应该如何计算一个元素的总宽度和总高度。 */
    box-sizing: border-box;
}


body {
    /* 设置字体为sans-serif */
    font-family: sans-serif;
    /* 设置字体为白色 */
    color: aliceblue;
    /* 垂直对齐 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 设置高度居中显示 */
    height: 100vh;
    overflow: hidden;
    /* 为给定元素设置所有四个（上下左右）方向的外边距属性。也就是 margin-top，margin-right，margin-bottom，和 margin-left 四个外边距属性设置的简写 */
    margin: 0;
}


.container{
    display: flex;
    width: 90vw;
}

.panel{
    /* background-size 设置背景图片大小。图片可以保有其原有的尺寸，或者拉伸到新的尺寸，或者在保持其原有比例的同时缩放到元素的可用空间的尺寸。 */
    background-size: cover;
    /* background-position 为每一个背景图片设置初始位置。 这个位置是相对于由 background-origin 定义的位置图层的。 */
    background-position: center;
    /* background-repeat CSS 属性定义背景图像的重复方式。背景图像可以沿着水平轴，垂直轴，两个轴重复，或者根本不重复。 */
    background-repeat: no-repeat;
    height: 80vh;
    /* CSS 属性 border-radius 允许你设置元素的外边框圆角。当使用一个半径时确定一个圆形，当使用两个半径时确定一个椭圆。这个(椭)圆与边框的交集形成圆角效果。 */
    border-radius: 50px;
    color: aliceblue;
    /* 光标悬浮于连接上时显示为小手 */
    cursor: pointer;
    /* 设置了弹性项目如何增大或缩小以适应其弹性容器中可用的空间 */
    flex: 0.5;
    margin: 10px;
    /* CSS position属性用于指定一个元素在文档中的定位方式 */
    position: relative;
    transition: all 700ms ease-in;
}

.panel h3 {
    font-size: 24px;
    /* CSS position属性用于指定一个元素在文档中的定位方式 */
    position: absolute;
    /* bottom样式属性定义了定位元素下外边距边界与其包含块下边界之间的偏移，非定位元素设置此属性无效。bottom的效果取决于元素的position属性 */
    bottom: 20px;
    left: 20px;
    margin: 0;
    /* opacity属性指定了一个元素的不透明度。换言之，opacity属性指定了一个元素后面的背景的被覆盖程度 */
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
      width: 100vw;
    }
  
    .panel:nth-of-type(3),
    .panel:nth-of-type(4) {
      display: none;
    }
  }

